

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>setvalue</title>
</head>
<body>
    <div>

    </div>
</body>
</html>

<p>Getting id....</p>
<button onclick="history.back()" class="btn btn-danger">Cancel</button>
<script>
    window.setTimeout(function () {
        window.location.href = "javascript: history.go(-1)";
    }, 2000);
</script>