@using sozluk123.Models
@*@model IEnumerable<sozluk123.Models.entry>*@
@model lstentries1


<div id="dataModel"></div>

<script src="~/Scripts/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src='/signalr/js'></script>
<script type="text/javascript">

    
   
    var hubNotify = $.connection.entriesHub;
   

    $.connection.hub.start().done(function () {
        getAll();
    });
    hubNotify.client.refreshEmployeeData = function () {
            getAll();
    };

    

    

    function getAll() {
        var model = $('#dataModel');
        $.ajax({
            url: '/entries/GetEmployeeData',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) { model.empty().append(result); }
        });
    }

</script>
