
.center-block {
    margin: auto;
    display: block;
}

.center {
    margin: auto;
    width: 70%;
    border: 0px solid #73AD21;
    padding: 10px;
}


.img {
    border-radius: 50%;
    border-color: black;
}

.column {
    float: left;
    width: 100.00%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.accordion {
    max-width: 425px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    overflow: hidden;
    background-color: cadetblue;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}



.accordion__label, .accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s;
}

    .accordion__label:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.accordion__content {
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.accordion__input {
    display: none;
}

    .accordion__input:checked ~ .accordion__content {
        display: block;
    }

.swal-wide {
    width: 500px !important;
    height: 350px !important;
    font-size: 1.6rem !important;
    background-color:white;
   
    
}
