
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center {
        margin: auto;
        align-items: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }


    .validation-summary-errors ul {
        list-style: none;
        text-align: center;
    }
</style>

@{
    ViewBag.Title = "Forgot Password";
}
<div class="center">
    <h2>Forgot Password</h2>

    @using (Html.BeginForm())
    {
<div class="form-horizontal">
    <hr />
    <div class="text-success">
        @ViewBag.Message
    </div>
    <br>
    <div class="form-group">
        Please enter your registered email address below to receive an email containing a link, to reset your password.
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-md-2">Email</label>
        @Html.TextBox("EmailID", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>

    }

</div>

<div class="center">
    @Html.ActionLink("Sign Up", "Signup", "Accounts")
</div>

<div class="center">
    @Html.ActionLink("Main Page", "Index123", "entries")
</div>